div.banner-image-wp-head {
    width: 100%;
    position: fixed !important;
    background-color: #c05e37;
    color: #fff;
    z-index: 1000
}

div.banner-image-wp-head a.banner-image{
    top: 0;
    position: absolute;
}

div.banner-image-wp-head a.banner-close{
    position: absolute;
    top: 5%;
    right: 10%;
    color: black;
    display: block;
    font-size: 30px;
    cursor: pointer;
    background-color: white;
    border-radius: 25px;
}

div.banner-image-wp-head img{
    border: none;
    padding: 0;
    margin: 0;
    display: inline-block;
    max-width: 100%;    
    height: auto;
}

/*----- Neeraj CSS ---*/

