/*----- Banner Image CSS ---*/

.banner-image-wp-head{
    position: relative;
    z-index: 100;
    width: 100%;
    display: block;
    top: 0;
    }

.banner-image-wp-head a.banner-image{
    display: block;
}

.banner-image-wp-head a.banner-image img{
    max-width: 100%;
    height: auto;;
    display: block;
}

.banner-image-wp-head a.banner-close{
    position: absolute;
    top: 10px;
    right: 10px;
    background: #fff;
    color:#000;
    height: 20px;
    width: 20px;
    font-weight:bold;
    text-align: center;
    line-height: 18px;
    font-family: monospace;
    font-size: 16px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    transition:all 0.3s;
    }
.banner-image-wp-head a.banner-close:hover{
    background:#000;
    color:#fff;
}